{% extends "index.twig" %} 

{% block main %}
    <section class="container">
        {% set image = entry.previewImage.one() %}
        {% if image %}
            {% set options = {
                mode: 'crop',
                height: 550,
                width: 1100,
            } %}
            <img src="{{ image.getUrl(options) }}" alt="" class="card-img-top img-fluid" style="max-width: 100%; height: auto">
        {% else %}
            <img src="https://via.placeholder.com/1500x600" width="100%" height="100%" alt="">
        {% endif %}
    </section>
    <main class="container text-center pt-5" style="width: 80%;">
        <h1 class="font-weight-light display-4">{{ entry.headline }}</h1>
        <div class="mx-auto">
            <hr class="featurette-divider">
            <h5 class="font-weight-light" style="line-height: 1.75em;">
                {{ entry.richText }}
            </h5>
            <hr class="featurette-divider">
        </div>
    </main>
{% endblock %}