{% extends "index.twig" %} 

{% block main %}
    <section class="carousel-inner mb-5">
        <div class="carousel-item active">
            <img src="https://via.placeholder.com/1500x600" width="100%" height="100%" alt="">
            <div class="container">
                <div class="carousel-caption text-center">
                    {# <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> #}
                </div>
            </div>
        </div>
    </section>

    <main class="container text-center">
        <div class="jumbotron">
            <h1 class="display-4">Hey, you!</h1>
            <p class="lead">Drop me a line, I'd love to hear from you!</p>
            <hr class="my-4">

            {% macro errorList(errors) %}
                {% if errors %}
                    {% for error in errors %}
                        <small class="text-danger m-0 p-0">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            {% css %}
                input#secretHoneypotParamName { display: none; }
            {% endcss %}

            <form accept-charset="UTF-8" class="form-group px-4">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('contact/thanks') }}
                <input id="secretHoneypotParamName" name="secretHoneypotParamName" type="text">
                <div class="row justify-content-md-center my-lg-1">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="First name" value="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Last name" value="">
                    </div>
                </div>
                <div class="row justify-content-md-center py-lg-3">
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Email"
                               name="fromEmail"
                               value="">
                    </div>
                </div>
                <div class="row justify-content-md-center py-lg-3">
                    <div class="col-md-6">
                        <textarea rows="5" class="form-control" aria-label="With textarea" name="message"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary mt-3" type="submit" value="send">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}