<!-- Footer -->
<footer class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <!-- make a grid -->
        <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">&copy 2019 My Unexpected Journey</div>
            <div class="p-2 bd-highlight"><a class="nav-link" href="#"><i class="fab fa-facebook fa-lg" style="color:#3b5998"></i></a></div>
            <div class="p-2 bd-highlight"><a class="nav-link" href="#"><i class="fab fa-instagram fa-lg" style="color:#833ab4"></i></a></div>
            <div class="p-2 bd-highlight"><a class="nav-link" href="#"><i class="fab fa-snapchat fa-lg" style="color:#FFFC00"></i></a></div>
        </div>
    </div>
</footer>
<!-- Footer End -->