<!-- Footer -->
<footer class="navbar navbar-expand-lg bg-light">
    <div class="container bd-highlight mb-5 flex-row align-content-center">
        <div class="d-flex flex-row">
            <div class="mr-auto p-2 bd-highlight">&copy 2019 {{ currentSite.name }}</div>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <div class="p-2 bd-highlight"><a class="nav-link p-2" href="#"><i class="fab fa-facebook fa-lg" style="color:#3b5998"></i></a></div>
            <div class="p-2 bd-highlight"><a class="nav-link p-2" href="#"><i class="fab fa-instagram fa-lg" style="color:#833ab4"></i></a></div>
        </div>
    </div>
</footer>
<!-- Footer End -->